# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ff8f17c805d6a75b60550dec79fffb33e2e75b5f89b989b53a2e7f9b65938637bbdb8c78a977e43814c5da62a470c4ac781d4add162d4171bc477d8e2380ee14

test:
  secret_key_base: 1de22e27e492d1f41220e2b43725e820543a5e167ee09a7d52d454ab80d5e3e7064f3589e9e2581f4f4dbb3ea8f66d420f08e0862816f7f702cb881d370e0216

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
